<nav class="navbar navbar-light bg-light justify-content-between">
    <div class="container">
        <a class="navbar-brand title" i18n="@@listHeader">Reservations list</a>
        <button class="btn btn-secondary" routerLink="/reservations/create" i18n="@@createReservationButton">CREATE RESERVATION</button>
    </div>
</nav>

<div class="container mb-5" id="content">
    <div class="table-responsive listTable">
        <br>
        <table datatable class="table table-bordered row-border hover" *ngIf="reservations.length > 0" style="margin-top: 1%;">
            <thead>
                <tr>
                    <th>ID</th>
                    <th i18n="@@reservationTableTitle">Reservation</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let reservation of reservations">
                    <td>{{reservation.id}}</td>
                    <td i18n="@@tableLabel">Reservation for: {{ reservation.userName }}</td>
                    <td>
                        <button class="btn btn-secondary" routerLink="/reservations/edit/{{reservation.id}}" i18n="@@editReservationButton">EDIT</button>
                        <button class="btn btn-danger" style="margin-left: 4%;" i18n="@@removecontactButton" (click)="remove(reservation.id)">DELETE</button>             
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
