<nav class="navbar navbar-light bg-light justify-content-between">
    <div class="container">
        <a class="navbar-brand title" i18n="@@contactsHeader">Contacts list</a>
    </div>
</nav>

<div class="container mb-5" id="content">
    <br>
    <button class="btn btn-secondary float-right" routerLink="/contacts/create" i18n="@@createReservationButton">CREATE CONTACT</button>
    <div class="table-responsive listTable">
        <br>
        <table datatable class="table table-bordered row-border hover" *ngIf="contacts.length > 0" style="margin-top: 1%;">
            <thead>
                <tr>
                    <th>#</th>
                    <th i18n="@@contactTableTitle">contact</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let contact of contacts">
                    <td>{{contact.id}}</td>
                    <td i18n="@@tableLabel">contact for: {{ contact.userName }}</td>
                    <td><button class="btn btn-secondary" (click)="edit(contact.id)" i18n="@@editcontactButton">EDIT</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
