<nav class="navbar navbar-light bg-light justify-content-between">
    <div class="container">
        <a class="navbar-brand title" i18n="@@contactsHeader">Create Contact</a>
        <button class="btn btn-secondary" routerLink="/contacts/list" i18n="@@CONTACTSLISTButton">CONTACTS LIST</button>
    </div>
</nav>

<form [formGroup]="form" (ngSubmit)="createContact()">
    <div class="container mb-5" id="content">
        <br>
        <div class="row">
            <div class="form-group col-md-4">
                <label i18n="@@CFContactName">Contact name</label>
                <input type="text" formControlName="ContactName" class="form-control" id="contactName"
                    placeholder="Contact Name" required>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-3">
                <label i18n="@@CFBirthDate">Birth Date</label>
                <input type="date" formControlName="BirthDate" class="form-control" id="BirthDate"
                    placeholder="Birth Date" required>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-3">
                <label i18n="@@CFContactType">Contact Type</label>
                <select class="form-select form-control select-chosen" formControlName="ContactTypeId"
                    id="ContactTypeId" required>
                    <option *ngFor="let option of contactTypes" value="{{option.id}}">{{option.description}}</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-3">
                <label i18n="@@CFPhoneNumber">Phone Number</label>
                <input type="tel" pattern="[0-9]" formControlName="PhoneNumber" class="form-control" id="phoneNumber">
            </div>
        </div>
        <button type="submit" style="margin-top: 10px;" class="btn btn-danger float-right send"
            i18n="@@createContactButton">CREATE</button>
    </div>
</form>